# Compatible with Jetson TX1 - Ubuntu 16.04 - Python 3.5.2
flask==1.1.4
flask-socketio==4.3.2
python-socketio==4.6.1
python-osc==1.7.4
werkzeug==1.0.1
python-engineio==3.14.2
eventlet==0.30.2
markupsafe==1.1.1
jinja2==2.11.3
itsdangerous==1.1.0
click==7.1.2
six==1.16.0
dnspython==1.16.0
